body{
    font-family: Calibri;
}

.avancar {
    position: relative;
    left: 1390px;
}

.subtexto1{
    font-size: 25px;
}

.subtexto2{
    font-size: 25px;
}

.titulo3{
    font-size: 35px;
}

.titulo2{
    font-size: 35px;
}

.subtexto0{
    font-size: 25px;
}

.introducao{
    font-size: 25px;
}